In [1]:
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer

In [2]:
diabetes = pd.read_csv('datasets/diabetes_processed.csv')
diabetes.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.000000,35.0,219.028414,33.6,0.627,50.0,1
1,1.0,85.0,66.000000,29.0,70.341550,26.6,0.351,31.0,0
2,8.0,183.0,64.000000,32.0,270.573172,23.3,0.672,32.0,1
3,1.0,89.0,66.000000,23.0,94.000000,28.1,0.167,21.0,0
4,0.0,137.0,40.000000,35.0,168.000000,43.1,2.288,33.0,1
5,5.0,116.0,74.000000,32.0,127.840221,25.6,0.201,30.0,0
6,3.0,78.0,50.000000,32.0,88.000000,31.0,0.248,26.0,1
7,10.0,115.0,72.405184,32.0,136.570245,35.3,0.134,29.0,0
8,2.0,197.0,70.000000,45.0,543.000000,30.5,0.158,53.0,1
9,8.0,125.0,96.000000,32.0,155.571480,32.0,0.232,54.0,1

In [9]:
diabetes.shape

(768, 9)

In [6]:
d_features = diabetes.drop('Outcome', axis=1)
d_label = diabetes[['Outcome']]

d_features.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148.0,72.0,35.0,219.028414,33.6,0.627,50.0
1,1.0,85.0,66.0,29.0,70.341550,26.6,0.351,31.0
2,8.0,183.0,64.0,32.0,270.573172,23.3,0.672,32.0
3,1.0,89.0,66.0,23.0,94.000000,28.1,0.167,21.0
4,0.0,137.0,40.0,35.0,168.000000,43.1,2.288,33.0

In [11]:
mask = np.random.randint(0,100, size=d_features.shape).astype(np.bool)
mask = np.logical_not(mask)

In [12]:
d_features[mask] = np.nan
d_features.sample(15)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
29,5.0,117.0,92.0,32.0,137.554255,34.1,0.337,38.0
581,6.0,109.0,60.0,27.0,115.667998,25.0,0.206,27.0
698,4.0,127.0,88.0,11.0,155.000000,34.5,0.598,28.0
377,1.0,87.0,60.0,37.0,75.000000,37.2,0.509,22.0
331,2.0,87.0,58.0,16.0,52.000000,32.7,0.166,25.0
454,2.0,100.0,54.0,28.0,105.000000,37.8,0.498,24.0
471,0.0,137.0,70.0,38.0,186.557300,33.2,0.170,22.0
268,0.0,102.0,52.0,32.0,107.497711,25.1,0.078,21.0
474,4.0,114.0,64.0,32.0,NaN,28.9,0.126,24.0
14,5.0,166.0,72.0,19.0,175.000000,25.8,0.587,51.0
559,11.0,85.0,74.0,32.0,66.877754,30.1,0.300,35.0
83,0.0,101.0,65.0,28.0,97.628280,NaN,0.237,22.0
2,8.0,183.0,64.0,32.0,270.573172,23.3,0.672,32.0
256,3.0,111.0,56.0,39.0,136.171866,30.1,0.557,30.0
420,1.0,119.0,88.0,41.0,170.000000,45.3,0.507,26.0

In [13]:
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [21]:
x_train, x_test, y_train, y_test = train_test_split(d_features, d_label, test_size=0.2)

In [22]:
transformer = ColumnTransformer(
    transformers=[('features', SimpleImputer(strategy='mean'), [0,1,2,3,4,5,6,7])]
)
# [0,1,2,...] we use it because transformer needs to know which column in dataset we need to work on

In [23]:
clf = make_pipeline(transformer, DecisionTreeClassifier(max_depth=4))

In [24]:
clf.fit(x_train, y_train)
clf.score(x_train, y_train)

0.8143322475570033

In [25]:
y_pred = clf.predict(x_test)

In [26]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_test)

0.7012987012987013